---
import { Icon } from 'astro-icon'
import Image from "astro-imagetools";
import Layout from '../layouts/Main.astro';
---

<Layout title="Philip Schönholzer" description="Über Philip Schönholzer" canonicalURL="https://philipschoenholzer.com/">
  <div class="container">
    <section class="hero">
      <div>
        <h1>Philip Schönholzer</h1>
        <p>
          Stets auf der Suche nach
          <ul>
            <li>Einfachheit</li>
            <li>Schönheit</li>
            <li>Klarheit</li>
          </ul>
        </p>
      </div>
      <div class="avatar" >
        <Image src="/src/images/avatar.jpg" width={300} height={300} tint="612f9d" alt="Bild von Philip Schönholzer" />
      </div>
    </section>
    <section class="copy-section">
      <p>
        Ich bin stets auf der Suche. Ich bin stets am Lernen. Dort hoffe ich
        die Antworten zu finden. Mich interessieren besonders Geschichte,
        Technologie, Minimalismus und Video-Games.
      </p>
      <p>
        Geschichte gibt mir die Möglichkeit zu sehen wo die Reise hingehen
        könnte. Technologie hat immensen Einfluss auf unser aller jetziges und
        zukünftiges Leben. Minimalismus fordert mich "andere" Ziele im Leben
        zu haben und Dankbarkeit zu pflegen. Video-Games sind meine "guilty
        pleasure".
      </p>
    </section>
    <section class="contact-section">
      <div class="contact-links">
        <div>
          <Icon name="mdi:heart-outline" />
          Verheiratet
        </div>
        <div>
          <Icon name="ph:house-line-bold" />
          Luzern
        </div>
        <a href="https://co2data.org" target="_blank">
          <Icon name="icon-park-outline:leaves" />
          co2data.org
        </a>
        <a href="https://apptiva.ch" target="_blank">
          <Icon name="mdi:briefcase-variant-outline" />
          Apptiva
        </a>
      </div>
    </section>
  </div>
</Layout>

<style lang="scss">
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem 0;
    gap: 1em;

    h1 {
      font-size: 2em;
      line-height: 1.15;
      margin: 0 auto 0 0;
      padding: 1em 0 0;
      color: var(--primaryLight);

      @media (min-width: 640px) {
        font-size: 3em;
      }
    }

    p, ul {
      font-style: italic;
      color: var(--textDark);
    }

    .avatar {
      height: 150px;
    width: 150px;
      margin-left: auto;
      margin-right: auto;
    border: 5px solid hsl(262, 0%, 28%);
    border-radius: 50%;
    overflow: hidden;
    }

  }

.copy-section {
    font-size: 1.2em;
    padding-top: 0;
    padding-bottom: 3em;

    @media (min-width: 640px) {
      font-size: 1.6em;
    }
  }

  .contact-section {
    font-size: 1.0em;
    padding-bottom: 8em;

    @media (min-width: 640px) {
      font-size: 1.5em;
    }
  }

  .contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
    color: var(--primaryLight);
    text-align: center;
    padding: 0 3em;
    gap: 3em;

    a {
      color: inherit;
      text-decoration: underline;
    }

    & > * {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1 1 0%;
      gap: 1em;

      svg {
        height: 3em;
        display: block;
        margin: auto;
        fill: currentColor;
      }
    }
  }
</style>
