---
import avatar from '../images/avatar-small.jpg'
import Layout from '../layouts/Main.astro';
---

<Layout title="Philip Schönholzer" description="Über Philip Schönholzer" canonicalURL="https://philipschoenholzer.com/">
  <div class="container">
    <section class="hero">
      <div>
        <h1>Philip Schönholzer</h1>
        <p>
          Stets auf der Suche nach
          <ul>
            <li>Einfachheit</li>
            <li>Schönheit</li>
            <li>Klarheit</li>
          </ul>
        </p>
      </div>
      <img class="avatar" src={avatar} alt="Bild von Philip Schönholzer" />
    </section>
    <section class="copy-section">
      <p>
        Ich bin stets auf der Suche. Ich bin stets am Lernen. Dort hoffe ich
        die Antworten zu finden. Mich interessieren besonders Geschichte,
        Technologie, Minimalismus und Video-Games.
      </p>
      <p>
        Geschichte gibt mir die Möglichkeit zu sehen wo die Reise hingehen
        könnte. Technologie hat immensen Einfluss auf unser aller jetziges und
        zukünftiges Leben. Minimalismus fordert mich "andere" Ziele im Leben
        zu haben und Dankbarkeit zu pflegen. Video-Games sind meine "guilty
        pleasure".
      </p>
    </section>
    <section class="contact-section">
      <div class="contact-links">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
            ><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path
              d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z"
            ></path></svg
          >
          Verheiratet
        </div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
            ><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path
              d="M575.8 255.5C575.8 273.5 560.8 287.6 543.8 287.6H511.8L512.5 447.7C512.5 450.5 512.3 453.1 512 455.8V472C512 494.1 494.1 512 472 512H456C454.9 512 453.8 511.1 452.7 511.9C451.3 511.1 449.9 512 448.5 512H392C369.9 512 352 494.1 352 472V384C352 366.3 337.7 352 320 352H256C238.3 352 224 366.3 224 384V472C224 494.1 206.1 512 184 512H128.1C126.6 512 125.1 511.9 123.6 511.8C122.4 511.9 121.2 512 120 512H104C81.91 512 64 494.1 64 472V360C64 359.1 64.03 358.1 64.09 357.2V287.6H32.05C14.02 287.6 0 273.5 0 255.5C0 246.5 3.004 238.5 10.01 231.5L266.4 8.016C273.4 1.002 281.4 0 288.4 0C295.4 0 303.4 2.004 309.5 7.014L564.8 231.5C572.8 238.5 576.9 246.5 575.8 255.5L575.8 255.5z"
            ></path></svg
          >
          Luzern
        </div>
        <a href="https://co2data.org" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 32c477.6 0 366.6 317.3 367.1 366.3L448 480h-26l-70.4-71.2c-39 4.2-124.4 34.5-214.4-37C47 300.3 52 214.7 0 32zm79.7 46c-49.7-23.5-5.2 9.2-5.2 9.2 45.2 31.2 66 73.7 90.2 119.9 31.5 60.2 79 139.7 144.2 167.7 65 28 34.2 12.5 6-8.5-28.2-21.2-68.2-87-91-130.2-31.7-60-61-118.6-144.2-158.1z"/></svg>
          co2data.org
        </a>
        <a href="https://apptiva.ch" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
            ><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path
              d="M320 336c0 8.844-7.156 16-16 16h-96C199.2 352 192 344.8 192 336V288H0v144C0 457.6 22.41 480 48 480h416c25.59 0 48-22.41 48-48V288h-192V336zM464 96H384V48C384 22.41 361.6 0 336 0h-160C150.4 0 128 22.41 128 48V96H48C22.41 96 0 118.4 0 144V256h512V144C512 118.4 489.6 96 464 96zM336 96h-160V48h160V96z"
            ></path></svg
          >
          Apptiva
        </a>
      </div>
    </section>
  </div>
</Layout>

<style lang="scss">
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem 0;
    gap: 1em;

    h1 {
      font-size: 2em;
      line-height: 1.15;
      margin: 0 auto 0 0;
      padding: 1em 0 0;
      color: var(--primaryLight);

      @media (min-width: 640px) {
        font-size: 3em;
      }
    }

    p, ul {
      font-style: italic;
      color: var(--textDark);
    }

    img {
      margin-left: auto;
      margin-right: auto;
    }

  }

  .avatar {
    height: 150px;
    width: 150px;
    border: 5px solid hsl(262, 0%, 28%);
    border-radius: 50%;
  }

  .copy-section {
    font-size: 1.2em;
    padding-top: 0;
    padding-bottom: 3em;

    @media (min-width: 640px) {
      font-size: 1.6em;
    }
  }

  .contact-section {
    font-size: 1.0em;
    padding-bottom: 8em;

    @media (min-width: 640px) {
      font-size: 1.5em;
    }
  }

  .contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
    color: var(--primaryLight);
    text-align: center;
    padding: 0 3em;
    gap: 3em;

    a {
      color: inherit;
      text-decoration: underline;
    }

    & > * {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1 1 0%;
      gap: 1em;

      svg {
        height: 3em;
        display: block;
        margin: auto;
        fill: currentColor;
      }
    }
  }
</style>
