---
import { Icon } from 'astro-icon'
---

<footer>
  <div class="container">
    <section class="social-section">
      <div class="social-links">
        <a
          href="https://www.linkedin.com/in/philip-schoenholzer/"
          title="LinkedIn"
          aria-label="My LinkedIn page"
        >
          <Icon name="ph:linkedin-logo-bold" />
        </a>
        <a
          href="https://mastodon.world/@phisch"
          title="Mastodon"
          aria-label="My Mastodon page"
          rel="me"
        >
          <Icon name="mdi:mastodon" />
        </a>
        <a
          href="https://phischer.t.me"
          title="Telegram"
          aria-label="My Telegram name"
        >
          <Icon name="uil:telegram-alt" />
        </a>
        <a
          href="https://www.reddit.com/user/phischer_h"
          title="Reddit"
          aria-label="My Reddit profile"
        >
          <Icon name="ph:reddit-logo-bold" />
        </a>
        <a
          href="http://live.xbox.com/Profile?Gamertag=CookieJus"
          title="Xbox"
          aria-label="My Xbox gamer tag"
        >
          <Icon name="ri:xbox-line" />
        </a>
        <a
          href="https://www.instagram.com/phil_sch/"
          title="Instagram"
          aria-label="My Instagram page"
        >
          <Icon name="ph:instagram-logo-bold" />
        </a>
        <a
          href="https://www.facebook.com/philip.schoenholzer"
          title="Facebook"
          aria-label="My Facebook page"
        >
          <Icon name="ph:facebook-logo-bold" />
        </a>
        <a
          href="https://twitter.com/pschonholzer"
          title="Twitter"
          aria-label="My Twitter page"
        >
          <Icon name="ph:twitter-logo-bold" />
        </a>
      </div>
    </section>
    <div class="row">
      <p>© 1978 - {new Date().getFullYear()}, Philip Schönholzer</p>
    </div>
  </div>
</footer>

<style lang="scss">
  footer {
    padding: 1em 0;
    background: var(--backgroundLight);
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .social-section {
    font-size: 1.9em;
    padding: 1em 0 2em;
    margin: 0 auto;
    color: var(--textDark);
    max-width: fit-content;

    @media (min-width: 640px) {
      font-size: 2.5em;
    }
  }

  .social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.4em 1em;

    a {
      color: var(--textDark);
    }

    svg {
      height: 1.3em;
      fill: currentColor;
    }
  }
</style>
