---
---

<header>
  <div class="container">
    <div>
      <a href="/">Philip Schönholzer</a>
    </div>
  </div>
</header>

<style lang="scss">
  header {
    position: sticky;
    top: 0;
    padding: 1em 0;
    background: var(--primary);
    z-index: 1;
  }
</style>
