:root {
  --primary: hsla(262, 43%, 43%);
  --primaryLight: hsla(262, 43%, 68%);
  --background: hsla(262, 8%, 12%);
  --backgroundLight: hsla(262, 8%, 20%);
  --text: hsl(0, 0%, 100%);
  --textDark: hsl(0, 0%, 70%);
}
